.navBar{
    position: absolute;
    width: 100%;
    height: 30%;
    left: 0px;
    bottom: 0px;
    z-index: 1;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 10px -4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px 20px 0px 0px;
}

.ellipse{
    position: absolute;
    width: 75px;
    height: 38%;
    left: 38.28%;
    bottom: 10%;
    z-index: 2;

    border-radius: 50px;
    background: #FFFFFF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.user-div{
    position: absolute;
    width: 100%;
    height: 25%;
    left: 0px;
    bottom: 0px;

    background: #FFFFFF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.bell-icon{
    position: absolute;
    z-index: 2;
    color: #A2E996;
    width: 38px;
    height: 38px;
    left: 17%;
    bottom: 17%;
}

.settings-icon{
    position: absolute;
    z-index: 2;
    color: #A2E996;
    width: 40px;
    height: 40px;
    right: 15%;
    bottom: 17%;
}

.user-icon{
    position: absolute;
    z-index: 2;
    color: #A2E996;
    width: 40px;
    height: 45px;
    left: 23%;
    bottom: 20%;
}

.user-img{
    position: absolute;

    clip-path:ellipse(33% 33%);
    width: 100px;
    height: 100px;
    left: 8%;
    bottom: 30%;
}

.user-info{
    position: absolute;
    color: black;
    font-size: 15px;
    z-index: 5;
    bottom: 50%;
    right: 10%;
}