<div class="user-div">
    
    <ion-img class="user-img" src="../../assets/images/boudot.png"></ion-img>
    
    <div class="user-info">
        <p>
            <B>Boudette Mathilde</B> <br>
        
            <d style="font-size: 12px;">
                86 rue du maréchal Foch 
            </d>
        </p>
    </div>



<div class="ellipse">
    <ion-icon name="person-outline" class="user-icon"></ion-icon>
</div>

<div class="navBar">
    <ion-icon name="notifications-outline" class="bell-icon"></ion-icon>
    <ion-icon name="settings-outline" class="settings-icon"></ion-icon>
</div>

</div>