
  
  <ion-content [fullscreen]="true" class="home-page">
 

  <div class="home-widget">
    <div class="battery-widget">
      <p class="battery-text">
        <B>BATTERIE DU <br>
        BRACELET</B>
      </p>

      <div class="battery-pourcent">
        <p style="color: black; font-size: 20px; margin-left: 20%; margin-top: 35%">
          <b>87 %</b>
        </p>
      </div>

    </div>
  </div>

  <div class="bpm-div">
    <ion-icon name="pulse-outline" class="pulse-icon"></ion-icon>
    <div style="color: black">
      fall : {{ fall }} <hr>
      idle : {{ idle }} <hr>
      handling : {{ handling }}
    </div>
  </div>

  <div class="nfc-div">
    <ion-icon name="qr-code-outline" class="identity-icon"></ion-icon>
  </div>


  <div class="home-image">
    <ion-img class="avatar-img" src="../../assets/images/avatar.webp"></ion-img>
    <ion-img class="banc-img" src="../../assets/images/banc.png"></ion-img>
  
    <ion-img class="arbre-img" src="../../assets/images/arbre.png"></ion-img>
    <ion-img class="pigeon-img" src="../../assets/images/pigeon.png"></ion-img>
  
  </div>

  <app-nav-bar></app-nav-bar>

  
</ion-content>

<div *ngIf="fall && !handling">
  <div class="my-overlay">
    <ion-card class="urgenceOver">
      <ion-card-header mode="md">
        <ion-card-title style="color: black;">Boudette</ion-card-title>
        <ion-card-subtitle>Chute a 16:45</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="card-content">
        <ion-button class="rounded-button" mode="md" fill="clear" size="medium" shape="round" (click)="handleEmergency()">
          <ion-icon class="cross-icon" name="close" size="large" color="danger"></ion-icon>
        </ion-button>
    
          <ion-item-sliding mode="md">
            <ion-item-options  side="start">
              <ion-item-option class="item-option-slide" (click)="handleEmergency()" expandable>J'y vais</ion-item-option>
            </ion-item-options>
            <ion-item  class="item-slide" lines="none">
                >>> >>> >>>
            </ion-item>
          </ion-item-sliding>
      
      </ion-card-content>
    </ion-card>
  </div>

</div>


